<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LoginUrl" value="https://login.microsoftonline.com"/>
    <add key="Modern.Authentication.Native" value="88edd6e0-3f9f-4c29-bcf0-e79dd42107b5"/>
    <add key="Tenant" value="72f988bf-86f1-41af-91ab-2d7cd011db47"/>
    <add key="Resource" value="https://management.azure.com/" />
    <add key="RedirectUrl" value="urn:ietf:wg:oauth:2.0:oob"/>
    <!--Don't do that-->
    <add key="ClientSecret" value="Secret"/>
    <!--do that instead (Use KeyVault to Keep Secret in the safe place :-)-->
    <add key="ServicePrincipalContextUri" value="https://deploymentkv.vault.azure.net/secrets/ServicePrincipalContext/7b907420828f4344ad53224aac4612f6"/>
    <add key="ClientIdForCert" value="f706e9f6-ce1d-4712-8668-6ac8e67b2b8c"/>
    <add key="CertName" value="CN=Modern.Authentication.ARM" />


    <add key="Modern.Authentication.Storage" value="b0554698-0c1e-4c3c-b19e-013730b4272c"/>
    <add key="StorageEndPoint" value="https://demoauthenticationstr.blob.core.windows.net/files/"/>
    <add key="ResourceStorage" value="https://storage.azure.com/"/>
  </appSettings>
</configuration>
